*{
    margin: 0;
    padding: 0;
}
form {
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

input {
    width: 100%;
    margin-bottom: 10px;
}